.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  margin: 0px;
}

#root {
  margin: 0px;
  height: 1300px;
  background-color: black;
}

.title {
  margin: 0px;
  padding: 30px;
}

h1 {
  color: #1db954;
  margin: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#buscador{
  border-radius: 20px;
}

.buscador-item {
  padding: 8px;
}

.grid-container {
  background-color: rgb(54, 53, 53);
  display: grid;
  grid-gap: 1px;
  grid-template-columns: auto;
  padding: 1px;
  margin: 10px;
}

.grid-item {
  color: rgba(255, 255, 255, 0.884);
  background-color: black;
  border: 1px solid rgba(54, 53, 53, 0.8);
  padding: 4px;
  width: 49.4%;
  margin: 0px;
  display: inline-block;
  text-align: left;
}


#grid-title{
  color: rgb(158, 154, 154);
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}

.boton{
  background-color: #1db954;
  border: none;
  color: white;
  padding: 9px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  border-radius: 20px;
  margin: 10px;
}

.boton:hover{
  padding: 11px 16px;
  background-color: #33cf6a;
}

.boton:active {
  background-color: #1bac4e;
  padding: 9px 14px;
}